.navigation-item .list-icon {
    font-size: 22px;
    color: var(--ion-color-light);
    margin-right: 15px;
}

.navigation-item .list-label {
    font-size: 14px;
}

.navigation-item .progress-bar {
    padding-top: 6px;
    width: 80px;
}
