.root-navigation-item {
    background-image: linear-gradient(to right bottom, #845ec2, #6f69c9, #5872cd, #3f79ce, #2180cd);
    border-radius: 8px;
    margin: 6px;
    padding: 10px;
    border: 0;
    height: 75px;
}

.root-navigation-item .icon {
    position: absolute;
    color: #000000;
    right: 0px;
    bottom: -2px;
    font-size: 24px;
    opacity: 0.3;
}

.root-navigation-item .progress-bar {
    position: absolute;
    left: 0px;
    bottom: -3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
