.page-header {
    font-family: var(--ion-font-family-bold);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: var(--ion-font-size-sm);
    font-weight: bolder;
    color: var(--ion-color-light);
    text-transform: uppercase;
}
