.page-header {
    font-family: var(--ion-font-family-bold);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: var(--ion-font-size-sm);
    font-weight: bolder;
    color: var(--ion-color-light);
    text-transform: uppercase;
    display: flex;
    align-items: stretch;
}

.page-header .col-1 {
    flex: 0;
    text-align: left;
}

.page-header .col-2 {
    flex: 1;
}

.page-header .col-3 {
    flex: 0;
    text-align: right;
}
