.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progressBar {
    flex-direction: row;
    width: 100%;
}

.completeBar {
    flex-direction: row;
    /* transition: width 0.2s ease; */
}
