.content-page ion-content {
    --background: linear-gradient(to right bottom, #501a8e, #0055ba, #007bc3, #009ab4, #00b49f);
}

.content-page .back-button {
    color: var(--ion-color-light);
    font-size: var(--ion-font-size-xl);
    opacity: 0.8;
    padding-top: 10px;
    padding-left: 5px;
}
