.content-page ion-content {
    --background: linear-gradient(to right top, #501a8e, #2a43a3, #005fac, #0e75ad, #4689a9);
}

.content-page .back-button {
    color: var(--ion-color-light);
    font-size: var(--ion-font-size-xl);
    opacity: 0.8;
    padding-top: 10px;
    padding-left: 5px;
}
