ion-tab-bar {
    --background: var(--ion-color-tertiary);
    --color: var(--ion-color-light);
    --ion-color-primary: var(--ion-color-light);
}

ion-tab-button {
    --color: var(--ion-color-tertiary-tint);
}

ion-tab-button ion-icon {
    font-size: var(--ion-font-size-xl);
}

ion-tab-button ion-label {
    margin-top: 2px;
    font-size: var(--ion-font-size-sm);
}

ion-content,
ion-text,
ion-item,
ion-list-header {
    --color: var(--ion-color-light);
}

ion-item {
    --min-height: 60px;
}

ion-list ion-item {
    --inner-border-width: 0 0 0 0;
}

.button-med-large {
    font-family: var(--ion-font-family-bold);
    height: 3.3em;
    font-weight: bold;
}

.text-lg {
    font-size: var(--ion-font-size-lg);
}

.text-l {
    font-size: var(--ion-font-size-l);
}

.text-md {
    font-size: var(--ion-font-size-md);
}

.text-sm {
    font-size: var(--ion-font-size-sm);
}

.text-xs {
    font-size: var(--ion-font-size-xs);
}
