ion-tab-bar {
    --background: var(--ion-color-tertiary);
    --color: var(--ion-color-light);
    --ion-color-primary: var(--ion-color-light);
}

ion-tab-button {
    --color: var(--ion-color-tertiary-tint);
}

ion-content {
    --color: var(--ion-color-light);
}
