ion-tab-bar {
    --background: var(--ion-color-tertiary);
    --color: var(--ion-color-light);
    --ion-color-primary: var(--ion-color-light);
}

ion-tab-button {
    --color: var(--ion-color-tertiary-tint);
}

ion-content {
    --color: var(--ion-color-light);
}

ion-item {
    --color: var(--ion-color-light);
    --min-height: 60px;
}

ion-list ion-item {
    --inner-border-width: 0 0 0 0;
}
